In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd 
import time

In [19]:
jb_title=[]
jb_exp=[]
compy_nm=[]
loca=[]
url='https://www.naukri.com/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_name('keyword')
sc.send_keys('data analyst')
sc1=driver.find_element_by_name('location')
sc1.send_keys('bangalore')
srch=driver.find_element_by_xpath("//div[@class='search-btn']/button")
srch.click()
try:
    title = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='title fw500 ellipsis']"))
    )
    exp = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']"))
    )
    comny_nme = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='subTitle ellipsis fleft']"))
    )
    location = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']"))
    )
    for i in title[1:11]:
        jb_title.append(i.text)
    for i in exp[1:11]:
        jb_exp.append(i.text)
    for i in comny_nme[1:11]:
        compy_nm.append(i.text)
    for i in location[1:11]:
        loca.append(i.text)
finally:
    driver.quit()
time.sleep(8)
driver.quit()

df=pd.DataFrame({'Job Title':jb_title,'Job Location':loca,
              'Company name':compy_nm,'Experience Required':jb_exp,})
print(df)
df.to_csv('Naukri-job',index=False)

                                 Job Title                    Job Location  \
0                       Azure Data Analyst             Bangalore/Bengaluru
1                             Data Analyst  Bangalore/Bengaluru(Devalapur)
2                 Executive - Data Analyst             Bangalore/Bengaluru
3                             Data Analyst             Bangalore/Bengaluru
4  Data Analyst - Alteryx, Tableau and SQL             Bangalore/Bengaluru
5                             Data Analyst             Bangalore/Bengaluru
6                             Data Analyst             Bangalore/Bengaluru
7                             Data Analyst             Bangalore/Bengaluru
8                             Data Analyst             Bangalore/Bengaluru
9                             Data Analyst             Bangalore/Bengaluru

                                  Company name Experience Required
0  Capgemini Technology Services India Limited             6-8 Yrs
1                        Super India Tech Mark             0-2 Yrs
2            Flipkart Internet Private Limited             1-3 Yrs
3         CONDUENT BUSINESS SERVICES INDIA LLP             1-2 Yrs
4                           Schneider Electric             2-5 Yrs
5                     Myntra Designs Pvt. Ltd.             3-6 Yrs
6                     Myntra Designs Pvt. Ltd.             4-8 Yrs
7                     Myntra Designs Pvt. Ltd.             3-8 Yrs
8                     Myntra Designs Pvt. Ltd.             4-8 Yrs
9                     Myntra Designs Pvt. Ltd.             4-8 Yrs

In [34]:
url='https://www.naukri.com/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_name('keyword')
sc.send_keys('data Scientist')
sc1=driver.find_element_by_name('location')
sc1.send_keys('bangalore')
srch=driver.find_element_by_xpath("//div[@class='search-btn']/button")
srch.click()
try:
    title = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='title fw500 ellipsis']"))
    )
    
    location = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']"))
    )
    cmpy_name = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='subTitle ellipsis fleft']"))
    )
    
    title2=[]
    for i in title[0:11]:
        title2.append(i.text)
    loc=[]
    for i in location[0:11]:
        loc.append(i.text)
    cmpy_nm=[]
    for i in cmpy_name[0:11]:
        cmpy_nm.append(i.text)
finally:
    
    driver.quit()
time.sleep(60)
driver.quit()

df=pd.DataFrame({'Jobtitle':title2,'Job Location':loc,'Company Name':cmpy_nm})
df
df.to_csv('Fetched Data',index=False)

,Jobtitle,Job Location,Company Name
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited
1,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo
2,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited
3,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group
4,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group
5,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.
7,Data Scientist,Bangalore/Bengaluru,Schneider Electric India Pvt. Ltd.
8,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited
9,Data Scientist - Business Analytics,Bangalore/Bengaluru,Philips India Limited
10,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited

In [92]:
jb_title=[]
jb_exp=[]
compy_nm=[]
loca=[]
url='https://www.naukri.com/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_name('keyword')
sc.send_keys('data Scientist')
srch=driver.find_element_by_xpath("//div[@class='search-btn']/button")
srch.click()
try:
    path = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//span[@class='ellipsis fleft']"))
    )
    for i in path:
        if i.text=='Delhi / NCR':
            i.click()
            break
    title = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='title fw500 ellipsis']"))
    )
    
    location = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']"))
    )
    cmpy_name = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='subTitle ellipsis fleft']"))
    )
    exp = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']"))
    )
    for i in title[0:11]:
        jb_title.append(i.text)
    for i in exp[0:11]:
        jb_exp.append(i.text)
    for i in comny_nme[0:11]:
        compy_nm.append(i.text)
    for i in location[0:11]:
        loca.append(i.text)
except:
    h=[]
    v=[]
    location2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
    cpn_nm=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
    for i in location2[0:11]:
        h.append(i.text)
    for i in cpn_nm[0:11]:
        v.append(i.text)
    driver.quit()
time.sleep(5)
driver.quit()

In [100]:
df=pd.DataFrame({})
df['Job title']=jb_title
df['Job location']=h
df['Company name']=v
df['Required Experience']=jb_exp
df
df.to_csv('Data Scientist', index=False)

,Job title,Job location,Company name,Required Experience
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,GAMMA Lead Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,7-12 Yrs
2,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,6-10 Yrs
3,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,2-7 Yrs
4,Data Scientist / Data Analyst – Mobile Gaming ...,Gurgaon/Gurugram,WITZEAL TECHNOLOGIES PRIVATE LIMITED,4-7 Yrs
5,Data Scientist / Analyst - Delhi NCR,Delhi / NCR,Benchire,3-8 Yrs
6,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
7,Data Scientist - BFSI,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR",Black Turtle India Pvt Ltd,8-13 Yrs
8,Junior Data Scientist / Data Scientist,"Noida, Greater Noida",R Systems International Ltd.,3-8 Yrs
9,"Lead Data Scientist - Python, ML, OCR",Noida,R Systems International Ltd.,7-12 Yrs
10,Senior Data Scientist/Manager Data Scientist,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-12 Yrs

In [132]:
url='https://www.glassdoor.com/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
name=[]
ratings=[]
age=[]
try:
    cmpy_name = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//div[@class='d-flex justify-content-between align-items-start']"))
    )
    rating= WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//span[@class='css-19pjha7 e1cjmv6j1']"))
    )
    days_ago= WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//div[@class='d-flex align-items-end pl-std css-mi55ob']"))
    )
    exp = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']"))
    )
    for i in cmpy_name[0:11]:
        name.append(i.text)
    for i in rating[0:11]:
        ratings.append(i.text)
    for i in days_ago[0:11]:
        age.append(i.text)
except:
    n=[]
    r=[]
    a=[]
    names=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
    rating2=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
    days_ago2=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
    for i in days_ago2[0:11]:
        a.append(i.text)
    for i in names[0:11]:
        n.append(i.text)
    for i in rating2[0:11]:
        r.append(i.text)
time.sleep(6)
driver.quit()

In [135]:
df=pd.DataFrame({})
df['Company Name']=n
df['Rating']=r
df['Age']=a
df.to_csv('Feteched',index=False)
df

                    Company Name Rating  Age
0                      BlackRock    4.0  22d
1             Ericsson-Worldwide    4.1  12d
2      Unyscape Infocom Pvt. Ltd    4.1  24h
3                          Adobe    4.4   5d
4                    Knoldus Inc    4.3   2d
5                abc consultants    4.2   4d
6           Gauge Data Solutions    3.1   3d
7                SearchUrCollege    3.8   3d
8                 Biz2Credit Inc    5.0  12d
9                       Techlive    4.0  10d
10  Salasar New Age Technologies    3.0  15d

In [129]:
brands=[]
descriptions=[]
prices=[]
discounts=[]
url= 'https://www.flipkart.com/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_name('q')
sc.send_keys('sunglasses')
sc1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
sc1.click()
try:
    brand = WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//div[@class='_2WkVRV']"))
    )
    description= WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//a[@class='IRpwTa']"))
    )
    price= WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//div[@class='_30jeq3']"))
    )
    discount= WebDriverWait(driver, 10).until(
        EC.presence_of_all_elements_located((By.XPATH, "//div[@class='_3Ay6Sb']"))
    )
    url=driver.find_element_by_xpath("//nav[@class='yFHi8N']").get_attribiute('href')
    url.click()
    for i in brand[0:37]:
        brands.append(i.text)
    for i in description[0:37]:
        descriptions.append(i.text)
    for i in price[0:37]:
        prices.append(i.text)
    for i in discount[0:37]:
        discounts.append(i.text)
except:
    a_b=[]
    b_b=[]
    c_b=[]
    d_b=[]
    for i in range(0,6):
        for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            a_b.append(j.text)
        for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
            b_b.append(k.text)
        for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            c_b.append(l.text)
        for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
            d_b.append(m.text)
        time.sleep(5)
        url=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").get_attribute("href")
        driver.get(url)
time.sleep(7)
driver.quit()

In [130]:
df=pd.DataFrame({})
df['Brands']=a_b[0:100]
df['Descriptions']=b_b[0:100]
df['Prices']=c_b[0:100]
df['Discounts']=d_b[0:100]
df.to_csv('Fetched')
df

,Brands,Descriptions,Prices,Discounts
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹683,24% off
1,PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off
2,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹469,53% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
4,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹233,84% off
...,...,...,...,...
95,Fastrack,"UV Protection, Polarized Aviator Sunglasses (F...",₹951,26% off
96,Singco India,UV Protection Aviator Sunglasses (58),₹202,71% off
97,Fastrack,"UV Protection, Mirrored Retro Square Sunglasse...",₹987,24% off
98,phenomenal,UV Protection Aviator Sunglasses (88),₹399,80% off
99,Silver Kartz,UV Protection Aviator Sunglasses (Free Size),₹201,83% off

In [122]:
url= 'https://www.flipkart.com/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_name('q')
sc.send_keys('sneaker')
sc1=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
sc1.click()
ab=[]
bb=[]
cb=[]
db=[]
for i in range(0,6):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        ab.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        bb.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        cb.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        db.append(m.text)
    time.sleep(5)
    url=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a").get_attribute("href")
    driver.get(url)
driver.quit()

In [136]:
df=pd.DataFrame({})
df['Brands']=ab[0:100]
df['Descriptions']=bb[0:100]
df['Discounts']=cb[0:100]
df['Prices']=db[0:100]
df.to_csv('fetched',index=False)
df

,Brands,Descriptions,Discounts,Prices
0,French Connection,Sneakers For Men,₹680,65% off
1,SHURAB,Latest Stylish Casual sneakers for men | Lace ...,₹379,62% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Chevit,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹420,78% off
...,...,...,...,...
95,believe,Sneakers For Men,₹423,57% off
96,India hub,White Sneakers Sneakers For Men,₹386,80% off
97,richerson,516 Trendy Star Perfect Sneakers For Men,₹455,54% off
98,Chevit,Sneakers For Men,₹254,74% off
99,Chevit,Sneakers Sneakers For Men,₹799,67% off

In [158]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc1=driver.find_element_by_xpath("//ul[@class='price-list']")
sc1.click()
w=[]
x=[]
y=[]
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//h3[@class='product-brand']/h3"):
        w.append(j.text)
    for k in driver.find_elements_by_xpath("//h4[@class='product-product']/h4"):
        x.append(k.text)
    for l in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']/span"):
        y.append(l.text)
    time.sleep(5)
    url=driver.find_element_by_xpath("//li[@class='pagination-next']/a").get_attribute("href")
    driver.get(url)
driver.quit()

In [204]:

url='https://www.amazon.in/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
sc.send_keys('laptop')
driver.find_element_by_xpath("//input[@id='nav-search-submit-button']").click()
sc1=driver.find_elements_by_xpath("//span[@class='a-list-item']")
for i in sc1:
    if i.text=='Intel Core i7':
        i.click()
        break
n=[]
r=[]
p=[]
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
price=driver.find_elements_by_xpath("//span[@class='a-price']")
for i in title[0:11]:
    n.append(i.text)
for i in ratings[0:11]:
    r.append(i.text)
for i in price[0:11]:
    p.append(i.text)
time.sleep(5)
driver.quit()

In [207]:
df=pd.DataFrame({})
df['Titles']=n
df['Ratings']=r
df['Prices']=p
df.to_csv('laptop data-fetched',index=False)
df

                                               Titles Ratings     Prices
0   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...       4    ₹86,690
1   Dell G3 3500 Gaming 15.6inch 120hz FHD Display...      49    ₹81,990
2   Mi Notebook Horizon Edition 14 Intel Core i5-1...     630    ₹53,999
3   HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...       3    ₹89,999
4   Dell Alienware m15(R3) 15.6-inch FHD Gaming La...      15  ₹1,98,590
5   (Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...       1    ₹47,190
6   (Renewed) HP EliteBook 820 G4 Laptop (CORE I5 ...      93    ₹40,790
7   (Renewed) Lenovo ThinkPad X1 Carbon Laptop (CO...      27    ₹55,290
8   HP Pavilion Gaming 10th Gen Intel Core i7 Proc...      49    ₹79,999
9   Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...      55  ₹3,43,099
10  Lenovo Legion Y530 Intel Core I7 8th Gen 15.6 ...       2    ₹89,990

In [208]:
url='https://www.amazon.in/'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
sc=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
sc.send_keys('laptop')
driver.find_element_by_xpath("//input[@id='nav-search-submit-button']").click()
sc1=driver.find_elements_by_xpath("//span[@class='a-list-item']")
for i in sc1:
    if i.text=='Intel Core i9':
        i.click()
        break
n=[]
r=[]
p=[]
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
price=driver.find_elements_by_xpath("//span[@class='a-price']")
for i in title[0:11]:
    n.append(i.text)
for i in ratings[0:11]:
    r.append(i.text)
for i in price[0:11]:
    p.append(i.text)
time.sleep(5)
driver.quit()

In [211]:
df=pd.DataFrame({})
df['Titles']=n
df['Ratings']=r
df['Prices']=p
df.to_csv('laptop data-fetched',index=False)
df

                                               Titles Ratings     Prices
0   ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...       3  ₹2,69,990
1   ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...      27  ₹5,22,077
2   Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...      24  ₹2,27,200
3   ASUS ROG Strix Scar 15 (2020), 15.6" FHD 300Hz...       6  ₹1,99,644
4   ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...       7  ₹2,77,889
5   Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...       1  ₹2,06,990
6   Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...       2  ₹2,38,532
7   HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...      17  ₹3,42,990
8   Dell Alienware 17 Area 51 9thGeneration Corei9...       8  ₹2,07,992
9   Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...      45  ₹2,69,990
10  Dell Alienware m15(R3) 15.6-inch UHD Gaming La...      15  ₹2,14,990

In [ ]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver=webdriver.Chrome(r'C://chromedriver.exe')
driver.get(url)
time.sleep(5)
n=[]
r=[]
p=[]
for i in range(0,100):
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        n.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        r.append(k.text)
    for l in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        p.append(l.text)
    time.sleep(5)
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute("href")
    driver.get(url)
time.sleep(15)
driver.quit()